GEMINI_KEY = "YOUR API KEY"
API_KEY = "YOUR API KEY"
PROJECT_ID = "YOUR API KEY"
WEATHER_KEY = "YOUR API KEY"
AIRVISUAL_KEY = "YOUR API KEY"
COUNTRIES_KEY = "YOUR API KEY"
PG_USER = "POSTGRES-KEY"
PG_PASSWORD = "POSTGRES-KEY"
PG_HOST = "POSTGRES-KEY"
PG_DB = "POSTGRES-KEY"